<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ANRDraft</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>

    <div class="container body-content">
        <nav class="navbar navbar-light bg-faded">
            <div class="nav navbar-nav">
                @Html.ActionLink("ANRDraft", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-item nav-link" })
                @Html.ActionLink("About", "About", "Home", new { @class = "nav-item nav-link" })
                @Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-item nav-link" })
            </div>
        </nav>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ANRDraft</p>
        </footer>
    </div>


</body>
</html>
